<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header bg-primary">
    <div class="md:container md:flex md:items-center md:justify-between">
      <h1 class="text-center py-1 md:py-0"><a href="/" class="logo block mx-auto">眼鏡形象官網</a></h1>
      <ul class="flex flex-wrap">
        <li class="w-1/2 text-center md:w-auto"><a href="./optical.html" class="block text-white py-3 border border-r-0 border-b-0 border-white md:border-0 md:px-8 hover:underline hover:decoration-2">系列鏡框</a></li>
        <li class="w-1/2 text-center md:w-auto"><a href="#" class="block text-white py-3 border border-b-0  border-white md:border-0 md:px-8 hover:underline hover:decoration-2">門市據點</a></li>
        <li class="w-1/2 text-center md:w-auto"><a href="./blog.html" class="block text-white py-3 border border-r-0 border-white md:border-0 md:px-8 hover:underline hover:decoration-2">部落格</a></li>
        <li class="w-1/2 text-center md:w-auto"><a href="./faq.html" class="block text-white py-3 border border-white md:border-0 md:px-8 md:pr-0 hover:underline hover:decoration-2">常見問題</a></li>
      </ul>
    </div>
  </header>

  <%- contents %>

  <footer class="footer">
    footer
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
