@tailwind base;
@tailwind components;
@tailwind utilities;

.logo{
  background-image: url('../images/logo-white.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 80px;
  height: 72px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}